<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wheather display</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/first.css">
  </head>
  <body>

    <section id='weather-cart'>
      <h1 class='title'>Weather display app</h1>
      <form class='' action="/" method="post">
        Enter your city name :
        <input type="text" name="cityname" placeholder="London">
        <button class='btn' type="submit"><h1>Display</h1></button>
        <h6 class='cstate'><%= connectionState %></h6>
      </form>
    </section>


  </body>
</html>
